parameters:
    level: 8
    paths:
        - components
        - controllers
        - infrastructure
    bootstrapFiles:
        - vendor/yiisoft/yii2/Yii.php
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#ApiResponseAdapter|ApiRequest#'
