parameters:
    level: 8
    paths:
        - components
        - controllers
        - services
    bootstrapFiles:
        - vendor/yiisoft/yii2/Yii.php
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#getEntityService#'
        - '#getRepository#'
